@inject AutoPartsStore.Persistence.ApplicationDbContext context

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var item in context.Categories)
        {
            <a class="dropdown-item" href="/products?CategoriesId=@item.Id">@item.Title</a>
        }
    </div>