@using Microsoft.EntityFrameworkCore;
@inject AutoPartsStore.Persistence.ApplicationDbContext context
<div class="header">
    <div class="header-top-strip">
        <div class="container">
            <div class="header-top-left">
                <ul>
                    @if (User.Identity.IsAuthenticated)
                    {

                        @if (User.IsInRole("مدیر"))
                        {
                            <li>
                                <a href="/admin">
                                    ورود به پنل مدیر
                                </a>
                            </li>
                        }
                        <li><a href="#">سلام @User.Claims.First(n => n.Type == System.Security.Claims.ClaimTypes.Name).Value خوش اومدی</a></li>
                        <li>
                            <a href="/account">حساب کاربری</a>
                        </li>
                        <li><a href="/account/signout">خروج <i class="fas fa-sign-out-alt"></i></a></li>
                    }
                    else
                    {

                        <li><a href="/login">ورود<span class="fas fa-sign-in"> </span></a></li>
                        <li><a href="/account/register">ساخت اکانت<span class="fas fa-user-plus"> </span></a></li>
                    }
                </ul>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="header-right">
                    <div class="cart box_1">
                        <a href="/cart">
                            @{ 
                                string userId = User.Claims.First(m => m.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value;
                                var products = context.ProductCards.Where(x => x.UserId == userId && !x.OrderId.HasValue).Include(x=>x.Product).AsNoTracking();
                            }
                            <h3> 
                            <span id="cart-value">
                                <b> @products.Sum(x => x.Product.Price * x.Count).ToString("n0")</b> ریال 
                            </span> 
                            (<span id="cart-count"> @products.Count() </span>)
                            <img src="images/bag.png" alt="">
                            </h3>
                        </a>
                        <p><a href="/cart" class="simpleCart_empty">سبد خرید</a></p>s
                        <div class="clearfix"> </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>